* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}

.header {
    padding: 30px;
    font-family: "Courier New";
    font-style: bold;
    font-size: 2em;
    background-color: aliceblue;
}


.main {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans';
    font-size: 18px;
    background-color: lightblue;
    color: gray;
    line-height: 1.5;
}

/*section {
        overflow-x: auto;
        white-space: normal;
        width: auto;
        display: flex;
        flex-wrap: wrap;
} */

.selfie1 {
    float: right;
    max-height: 110%;
    max-width: 110%;
    margin-bottom: 5%;
    margin-right: 10%;
}


.footer {
    font-family: "Times New Roman";
    padding: 10px;
    text-align: center;
    background-color: lightblue;
    color: grey;
}
