* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 30px;
    font-family: "Courier New";
    font-style: bold;
    font-size: 3em;
    background-color: aliceblue;
}


.main {
    margin-bottom: 20px;
    padding: 50px;
    height: max-content;
    font-family: 'Gill Sans';
    font-size: 18px;
    background-color: lightblue;
    color: gray;
    line-height: 1.5;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

p {
    line-height: 1.5;
}

.text-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* Selfie1 and Selfie2 effect both the picture of me and the picture of me with a llama so as they both properly fit the 'About' section */
.selfie1 {
    float: center;
    max-height: 15%;
    max-width: 15%;
    margin-bottom: 5%;
    margin-right: 10%;
    align-self: center;
}

.selfie2 {
    float: center;
    max-height: 24%;
    max-width: 20%;
    margin-bottom: 5%;
    margin-right: 10%;
    border-radius: 40%;
}

.module1-picture {
    border-radius: 17%;
}

.project2, .project3, .project4 {
    border-radius: 17%;
    max-height: 25%;
    max-width: 25%;
}

.container {
    position: relative;
    text-align: center;
}


.footer {
    font-family: "Times New Roman";
    padding: 10px;
    text-align: center;
    background-color: lightblue;
    color: grey;
}

/* this allows for the pictures on the page to be more accessible on a mobile device and fit the screen properly */
@media only screen and (max-width: 600px) {
    .selfie1 {
        max-height: 60%;
        max-width: 60%;
    }
    .selfie2 {
        max-height: 60%;
        max-width: 60%;
    }
    .module1-picture {
        max-height: 60%;
        max-width: 60%;
    }
}